<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <!-- App title -->
        <title>AOP Polsatwa</title>

        <!-- App css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/assets/css/bootstrap.min.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/assets/css/icons.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/assets/css/style.css')}}" />

         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/assets/js/jodit/jodit.min.css')}}" />

        <link rel="stylesheet" href="{{ url_for('static', filename='admin/plugins/switchery/switchery.min.css')}}">
         <link href="{{ url_for('static', filename='admin/plugins/select2/css/select2.min.css')}}" rel="stylesheet" type="text/css" />

         <!-- Table Responsive css -->
        <link href="{{ url_for('static', filename='admin/plugins/responsive-table/css/rwd-table.min.css')}}" rel="stylesheet" type="text/css" media="screen">

         <!-- Sweet Alert -->
        <link href="{{ url_for('static', filename='admin/plugins/sweet-alert2/sweetalert2.css')}}" rel="stylesheet" type="text/css">

        <script src="{{ url_for('static', filename='admin/assets/js/modernizr.min.js')}}"></script>

    </head>


    <body class="fixed-left">
         <!-- Begin page -->
        <div id="wrapper">



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div id="app"></div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar">
                <a href="javascript:void(0);" class="right-bar-toggle">
                    <i class="mdi mdi-close-circle-outline"></i>
                </a>
                <h4 class="">Settings</h4>
                <div class="setting-list nicescroll">
                    <div class="row m-t-20">
                        <div class="col-8">
                            <h5 class="m-0">Notifications</h5>
                            <p class="text-muted m-b-0"><small>Do you need them?</small></p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-8">
                            <h5 class="m-0">API Access</h5>
                            <p class="m-b-0 text-muted"><small>Enable/Disable access</small></p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-8">
                            <h5 class="m-0">Auto Updates</h5>
                            <p class="m-b-0 text-muted"><small>Keep up to date</small></p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-8">
                            <h5 class="m-0">Online Status</h5>
                            <p class="m-b-0 text-muted"><small>Show your status to all</small></p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Right-bar -->

        </div>
        <!-- END wrapper -->

         <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{{ url_for('static', filename='admin/assets/js/jquery.min.js')}}"></script>
           <!-- responsive-table-->
        <script src="{{ url_for('static', filename='admin/plugins/responsive-table/js/rwd-table.min.js')}}"></script>
          <!-- Sweet-Alert  -->
        <script src="{{ url_for('static', filename='admin/plugins/sweet-alert2/sweetalert2.min.js')}}"></script>

        <script src="{{ url_for('static', filename='admin/assets/js/bootstrap.bundle.min.js')}}"></script>
         <script src="{{ url_for('static', filename='admin/assets/js/jodit/jodit.min.js')}}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/detect.js')}}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/fastclick.js')}}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/jquery.blockUI.js')}}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/waves.js')}}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/jquery.slimscroll.js')}}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/jquery.scrollTo.min.js')}}"></script>
         <script src="{{ url_for('static', filename='admin/plugins/switchery/switchery.min.js')}}"></script>
         <script src="{{ url_for('static', filename='admin/plugins/select2/js/select2.min.js')}}"></script>


        <!-- App js -->
        <script src="{{ url_for('static', filename='admin/assets/js/download.js')}}"></script>

         <script src="{{ url_for('static', filename='admin/assets/js/jquery.core.js')}}"></script>
        <script src="{{ url_for('static', filename='admin/assets/js/jquery.app.js')}}"></script>

         <script src="{{ url_for('static', filename='admin/app.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='admin/npm.core-js.app.js')}}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='admin/npm.webpack.app.js')}}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='admin/npm.babel-polyfill.app.js')}}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='admin/npm.backbone.marionette.app.js')}}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='admin/npm.backbone.radio.app.js')}}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='admin/npm.backbone.app.js')}}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='admin/npm.gasparesganga-jquery-loading-overlay.app.js')}}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='admin/npm.localforage.app.js')}}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='admin/npm.marionette.approuter.app.js')}}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='admin/npm.regenerator-runtime.app.js')}}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='admin/npm.underscore.app.js')}}"></script>
         <script src="{{ url_for('static', filename='admin/app.app.js')}}"></script>

    </body>
</html>